<!DOCTYPE html>
<html>
  <head>
    <title>isara[イサラ]|バンコクのノマドエンジニア育成講座</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/responsive.css'>
    <link rel='stylesheet' href='/stylesheets/HTML5 Doctor CSS Reset.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <div class="container">
        <ul class="header-wrapper">
          <li class="img-subtitle"><p><img src="/images/isaralogo.png"></p>
              <p class="header-subtitle">バンコクのノマドエンジニア育成講座</p></li>
          <li class="round-contact-link"><a href="/">お問い合わせ / 資料請求はこちら</a></li>
          <li class="square-contact-link"><img src="/images/document.jpg"><a href="/">資料請求</a></li>
        </ul>
      </div>
    </header>

    <section class="top-title">
      <div class="container">
        <div class="top-title-logo">
          <h2>プログラミングで</h2>
          <h2>人生の安定を手にいれよう</h2>
          <p><img src="/images/isaralogolarge.png"></p>
          <p class="under-img">バンコクのノマドエンジニア育成講座<br>iSara[イサラ]</p>
        </div>
      </div>
    </section>

    <section class="contact-link">
      <div class="container">
        <div class="contact-link-contents">
          <p class="complaining">まずは20日間で、</p>
          <p class="complaining">月10万円稼げるスキルを手に入れよう。</p>
          <p class="attention">※受講料金は実質0円です。詳しくは資料請求をどうぞ。</p>
          <a class="big-contact-btn" href="/">お問い合わせ&資料請求は<br><span>こちら</span></a>
          <p class="period-end">第6期生：2019年11月25日 ~ 2019年12月14日*締め切りました</p>
          <p class="period-end">第7期生：2020年2月17日 ~ 2019年3月7日</p>
        </div>
        <div class="sns-btn">
          <ul>
            <li class="twitter sns-small-btn"><a class="btn" href="/"><i class="fab fa-twitter"></i>ツイート</a></li>
            <li class="facebook sns-small-btn"><a class="btn" href="/"><i class="fa fa-thumbs-up"></i>いいね！</a href="/"></li>
            <li class="facebook sns-small-btn"><a class="btn" href="/">シェア</a href="/"></li>
          </ul>
        </div>
      </divc>
    </section>

    <section class="about">
        <div class="about-top">
          <div class="container">
              <div class="what-top">
                <h1 class="what">エンジニアとして<p class="about-top-p">　<p>本当の自由を手に入れるためには？</h1>
              </div>
              <div class="sentences">   <!-- PC大・PC小文章 -->
                <p class="about-sentence">エンジニア需要の高まりに伴い、プログラミングスクールが増えています。</p>
                <p class="about-sentence">しかしそこでの学習の先は、提携して決められた就職先に就職すること。</p>
                <p class="about-sentence">　</p>
                <p class="about-sentence">これで本当にいいのですか？</p>
                <p class="about-sentence">日本人エンジニアはアメリカと較べて給料が格段に低い。</p>
                <p class="about-sentence">その理由がここにあり、エンジニアは自分の給料をコントロールすべきなのです。</p>
                <p class="about-sentence">　</p>
                <p class="about-sentence">スキルを身につけたエンジニアは、人生をコントロールすることでより自由に。</p>
                <p class="about-sentence">そこで必要なのが<span class="earning-power">「稼ぐ力」</span>です。</p>
              </div>

              <div class="small-sentences">   <!-- タブレット・スマホ小文章 -->
                <p class="about-sentence">エンジニア需要の高まりに伴い、</p>
                <p class="about-sentence">プログラミングスクールが増えています。</p>
                <p class="about-sentence">しかしそこでの学習の先は、<p>
                <p class="about-sentence">提携して決められた就職先に就職すること。</p class="about-sentence">
                <p class="about-sentence">　</p>
                <p class="about-sentence">これで本当にいいのですか？</p>
                <p class="about-sentence">日本人エンジニアはアメリカと較べて</p>
                <p class="about-sentence">給料が格段に低い。</p class="about-sentence">
                <p class="about-sentence">　</p>
                <p class="about-sentence">その理由がここにあり、</p>
                <p class="about-sentence">エンジニアは自分の給料を</p class="about-sentence">
                <p class="about-sentence">コントロールすべきなのです。</p class="about-sentence">
                <p class="about-sentence">　</p>
                <p class="about-sentence">スキルを身につけたエンジニアは、
                <p class="about-sentence">人生をコントロールすることでより自由に。</p class="about-sentence">
                <p class="about-sentence">そこで必要なのが<span class="earning-power">「稼ぐ力」</span>です。</p>
              </div>
          </div>
        </div>

        <div class="about-circle">

        </div>

        <div class="about-bottom">
          <div class="container">

            <div class="what-bottom">
              <h1 class="what">ノマドエンジニア育成講座</h1>
              <p class="about-top-p">　</p>
              <h1 class="what">iSara[イサラ]とは</h1>
            </div>

            <p class="under-what-bottom">「稼ぐこと」にフォーカスしたWebエンジニア育成講座です。</p>

            <div class="five-skills-wrapper">          
              <h2 class="about-five-skill">稼げるエンジニアに必要な５つのスキルとは？</h2>
              <ul class="five-skills">
                <li class="skill five-skill">
                  <p><img src="images/skill.jpg"></p>
                  <p>基礎的な<br>プログラミングスキル</p></li>
                <li class="sales five-skill">
                  <p><img src="images/sales.jpg"></p>
                  <p>案件獲得に必要な<br>営業力</p></li>
                <li class="document five-skill">
                  <p><img src="images/document.jpg"></p>
                  <p>見積もり作成から<br>納品までの知識</p></li>
                <li class="plusone five-skill">
                  <p><img src="images/plusone.jpg"></p>
                  <p>自分の付加価値を<br>高めるスキル</p></li>
                <li class="connection five-skill">
                  <p><img src="images/connection.jpg"></p>
                  <p>フリーランス同士の<br>横のつながり</p></li>
              </ul>
            </div>

            
          </div>
        </div>
    </section>


  </body>
</html>
