<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <ul>
          <li><img src="/images/isaralogo.png"><span>バンコクのノマドエンジニア育成講座</span></li>
          <li><a href="/">お問い合わせ / 資料請求はこちら</a></li>
      </ul>
    </header>

    <div class="logo">
      <h2>プログラミングで<br>人生の安定を手に入れよう</h2>
      <p class="logo-img"></p>
      <p>バンコクのノマドエンジニア育成講座<br>iSara[イサラ]</p>
    </div>

    <div>
      <p>まずは20日間で、<br>月10万円稼げるスキルを手に入れよう。</p>
    </div>



  </body>
</html>
