<!DOCTYPE html>
<html>
  <head>
    <title>isara[イサラ]|バンコクのノマドエンジニア育成講座</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/responsive.css'>
    <link rel='stylesheet' href='/stylesheets/HTML5 Doctor CSS Reset.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <div class="container">
        <ul>
          <li><p><img src="/images/isaralogo.png"></p>
              <p class="header-subtitle">バンコクのノマドエンジニア育成講座</p></li>
          <li><a href="/">お問い合わせ / 資料請求はこちら</a></li>
        </ul>
      </div>
    </header>

    <section class="top-title">
      <div class="container">
        <div class="top-title-logo">
          <h2>プログラミングで</h2>
          <h2>人生の安定を手にいれよう</h2>
          <p><img src="/images/isaralogolarge.png"></p>
          <p>バンコクのノマドエンジニア育成講座<br>iSara[イサラ]</p>
        </div>
      </div>
    </section>

    <section class="contact-link">
      <div class="container">
        <div class="contact-link-contents">
          <p>まずは20日間で、</p>
          <p>月10万円稼げるスキルを手に入れよう。</p>
          <p class="attention">※受講料金は実質0円です。詳しくは資料請求をどうぞ。</p>
          <a class="big-contact-btn" href="/">お問い合わせ&資料請求はこちら</a>
          <p class="period-end">第6期生：2019年11月25日 ~ 2019年12月14日*締め切りました</p>
          <p>第7期生：2020年2月17日 ~ 2019年3月7日</p>
        </div>
        <div class="sns-btn">
          <ul>
            <li class="twitter sns-small-btn"><a class="btn" href="/"><i class="fab fa-twitter"></i>ツイート</a></li>
            <li class="facebook sns-small-btn"><a class="btn" href="/">いいね！</a href="/"></li>
            <li class="facebook sns-small-btn"><a class="btn" href="/">シェア</a href="/"></li>
          </ul>
        </div>
      </divc>
    </section>



  </body>
</html>
