* {
  box-sizing: border-box;
}

body {
  /*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif !important;*/
}

.container {
  width: 100%;
  max-width: 1170px;
  margin:0 auto;
  background-color: #FF33FF;
}

/*header*/
header {
  width:100%;
  position :fixed;
  top: 0;               /* 一番上にぴったりくっつく */
  z-index: 10;
  padding: 15px 15px !important;
  background-color:white !important;
}

.header-wrapper {
  display:flex;
  list-style:none;            /* liの箇条書きの点を消す */
  align-items: center;        /* 上下中心に配置 */
}

.img-subtitle {
  display:flex;
  font-size: 15px;
}

/* 丸いお問い合わせリンク */
.round-contact-link, .square-contact-link {
  margin-left:auto;
  background-color: #da6b64;
  display: flex;              /* フレックスボックス */
  justify-content: center;    /* 左右中心に配置 */
  align-items: center;        /* 上下中心に配置 */
}

.round-contact-link:hover, .square-contact-link:hover {
  background-color:#c7254e;
}

.round-contact-link a, .square-contact-link a{
  color:white;
  text-decoration: none;      /* aタグアンダーライン消す */
}


/* 大きいPC向けレイアウト */
@media screen and (min-width:1190px){
  header {
    height:75px !important;
  }

  .img-subtitle {
    align-items:flex-end;       /* フレックスアイテムを先頭にまとめる */
  }

  .img-subtitle p img {
    width: 128px;
  }

  .header-subtitle {
    margin: 0 0 10px 7px;
    font-size:14px;
    font-weight:bold;
    /*font-family: "Hiragino Kaku Gothic Pro";*/
    letter-spacing: 1.5px;
  }

  .round-contact-link{
    width: 317px;
    height: 44px;
    font-size:14px;
    letter-spacing: 1.5px;
    border-radius: 100px;
  }

  .square-contact-link{
    display: none !important;
  }
}

/* PC向けレイアウト */
@media screen and (max-width:1190px){

  .header-wrapper{
    height:45px;
  }

  .img-subtitle {
    align-items:flex-end;       /* フレックスアイテムを先頭にまとめる */
  }

  .img-subtitle p img {
    width: 130px;
  }

  .header-subtitle {
    margin-bottom: 7px;
    font-weight: bold;
    font-size:12px;
  }

  .round-contact-link{
    width: 260px;
    height: 44px;
    font-size:12px;
    border-radius: 100px;
  }

  .square-contact-link{
    display: none !important;
  }
}


/* タブレット向けレイアウト */
@media screen and (max-width:768px){
  header {
    padding: 10px 0 !important;
    height:62px !important;
  }

  .img-subtitle {
    flex-direction:column-reverse;        /* 1列で順番を逆に配置 */
    height: 62px;
  }

  .header-wrapper p {
    margin-right:auto;
  }

  .img-subtitle img {
    width: 90px !important;
  }

  .header-subtitle {
    width:220px;
    font-size: 10px;
    transform: scale(0.9);
    transform-origin:0 0;
  }

  header ul li:nth-child(2){
    height:41px !important;
  }

  .round-contact-link{
    display:none !important;
  }

  .square-contact-link{
    display:flex !important;
    width: 76px !important;
    height: 62px !important;
    font-size:12px;
    margin-bottom:5px;
    flex-direction:column;
  }

  .square-contact-link img {
    width:20px;
    background-color:#da6b64;
  }
}

/* スマートフォン向けレイアウト */
@media screen and (max-width:479px){
  header ul{
    height:62px;
  }

  .img-subtitle{
    height: 62px;
  }

  .img-subtitle img {
    width: 90px !important;
  }

  .header-subtitle {
    width:220px;
    font-size: 10px;
    transform: scale(0.9);
    transform-origin:0 0;
  }

  .round-contact-link{
    display:none !important;
  }

  .square-contact-link{
    width: 76px !important;
    height: 62px !important;
    font-size:12px;
    margin-bottom:5px;
    display:flex;
    flex-direction:column;
  }

  
}


/*----------------------------------------------------------------------------------------------------*/


/* top-title */
.top-title {
  background-image: url("../images/main.png");
  height: 500px;
  text-align: center;
  background-repeat:  no-repeat;            /* 画像の繰り返しをしない */
  background-position: center;              /* 画像の中央表示*/
  background-size: cover;                   /* 要素をちょうどよく覆うサイズにする */
  position: relative; /*中央揃えしたい要素の親要素に指定*/
}

.top-title-logo {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  width: 400px;         /* widthの指定は必須 */
}

.top-title-logo p img {
  width: 300px;
  margin:20px 0 40px 0;
}


/* 大きいPC向けレイアウト */
@media screen and (min-width:1190px){

  .top-title{
    margin-top: 75px;
  }

  .top-title-logo {
    height:300px !important;         /* heightの指定は必須 */
  }

  .top-title-logo h2 {
    font-size: 28px;
    letter-spacing: 0.1rem;
  }

  .top-title-logo h2:nth-child(2){
    margin:25px 0 0 0;
  }

  .top-title-logo p:not(img) {
    font-size:22px;
    font-family: bold;
  }

  .top-title .under-img {
    font-size: 20px;
    font-weight: bold !important;
    letter-spacing: 0.15rem;
  }
}
/* PC向けレイアウト */
@media screen and (max-width:1190px){
  .top-title{
    margin-top: 75px;
  }

  .top-title-logo {
    height:280px !important;         /* heightの指定は必須 */
  }

  .top-title-logo h2 {
    font-size: 25px;
  }

  .top-title-logo h2:nth-child(2){
    margin:25px 0 0 0;
  }

  .top-title .under-img {
    font-size: 16px;
    font-weight: bold !important;
    letter-spacing: 0.15rem;
  }
}
/* タブレット向けレイアウト */
@media screen and (max-width:768px){
  .top-title{
    margin-top: 62px;
    height: 312px !important;
  }

  .top-title-logo {
    height:270px !important;         /* heightの指定は必須 */
  }

  .top-title-logo h2 {
    font-size: 18px;
  }

  .top-title-logo h2:nth-child(2){
    margin:10px 0 0 0;
  }

  .top-title .under-img {
    font-size: 15px;
    font-weight: bold !important;
    letter-spacing: 0.15rem;
  }
}
/* スマートフォン向けレイアウト */
@media screen and (max-width:479px){
  .top-title{
    margin-top: 62px;
    height: 300px;
  }

  .top-title-logo h2 {
    font-size: 18px;
  }
  
}



/*----------------------------------------------------------------------------------------------------*/

/* contact-link */

.contact-link {
  background-color: #ebb94d;
  width: 100%;
  position:relative;
  height:537px !important;
}

.contact-link .container {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  text-align: center;
  /*border:solid;*/
}

.contact-link-contents br {
  margin-bottom:20px !important;
}

.complaining{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-family:"meiryo" !important;
}

/* 注釈 */
.attention {
  background-color:#F9F2F4;
  font-size: 20px;
  display:inline-block;
  border-radius: 3px;
  color:#c7254e;
  padding: 2px 4px;
  font-weight: bold;
  font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}


.contact-link p:not(.attention) {
  color: white;
}

/* お問い合わせ&資料請求はこちら */
.big-contact-btn {
  background-color:#da6b64;
  display: inline-flex;
  width:90%;
  border-radius:100px;
  justify-content: center;      /* 左右中央 */
  align-items: center;          /* 上下中央 */
  color:white;
  text-decoration: none;
}

/* 申し込み期限 */
.period-end{
  margin:20px 0 30px 0;
}

/* SNSボタン */
.sns-btn {
  margin-top: 30px;
}

.sns-small-btn {
  width: 75px;
  height:22px;
  display: inline-flex;
  justify-content: center;      /* 左右中央 */
  align-items: center;          /* 上下中央 */
  border-radius: 5px;
}

.sns-small-btn a{
  color:white;
  padding:1px 8px 1px 6px ;
  text-decoration: none;
}

.twitter {
  font-size: 12px;
  background-color:#1b95e0;
}

.facebook {
  background-color:#016ea9;
  color:white;
  font-size:12px;
}

.sns-btn ul{
  display:flex;
  justify-content: center;
  list-style:none;
}

.sns-btn li {
  margin: 0 5px;
}



/* 大きいPC向けレイアウト */
@media screen and (min-width:1190px){
  .contact-link {
    height: 560px;
  }

  .contact-link .container{
    height:470px;
  }

  .complaining{
    font-size: 20px !important;
    letter-spacing: 0.2rem;
  }

  .contact-link-contents p:nth-child(2){
    margin:15px 0 20px 0;
  }

  .contact-link p:not(.attention) {
    font-size: 22px;
  }

  .attention {
    font-size: 18px !important;
  }

  /* お問い合わせ&資料請求はこちら */
  .big-contact-btn {
    height:104px;
    margin: 48px 0 45px 0; 
    font-size:28px;
    letter-spacing: 0.1rem;
  }

  .period-end {
    font-size:21px !important;
  }
}
/* PC向けレイアウト */
@media screen and (max-width:1190px){
  .contact-link {
    height: 404px !important;
  }

  .contact-link .container{
    height:350px;
  }

  .contact-link-contents p:nth-child(2){
    margin:15px 0 20px 0;
  }

  .attention {
    font-size: 14.4px !important;
  }

  /* お問い合わせ&資料請求はこちら */
  .big-contact-btn {
    height:78px;
    margin: 13px 0 10px 0; 
    font-size:18px;
    letter-spacing: 0.05rem;
  }

  .period-end {
    font-size:18px !important;
  }

}
/* タブレット向けレイアウト */
@media screen and (max-width:768px){

  .contact-link .container{
    height:370px;
  }

  .attention {
    font-size: 13.5px !important;
  }

  /* お問い合わせ&資料請求はこちら */
  .big-contact-btn {
    height:94px;
    margin: 25px 0 25px 0; 
    font-size:20px;
    letter-spacing: 0.05rem;
  }
}
/* スマートフォン向けレイアウト */
@media screen and (max-width:479px){

}

/*----------------------------------------------------------------------------------------------------*/
/* about */

/*----------------------------------------------------------*/
/* about-top */
.about {
  background-color:green;
  height:2000px;
}

.about-top {
  background-image: url("../images/introbottom.jpg");
  height: 587px;
  text-align: center;
  background-repeat:  no-repeat;            /* 画像の繰り返しをしない */
  background-position: center;              /* 画像の中央表示*/
  background-size: cover;                   /* 要素をちょうどよく覆うサイズにする */
  position: relative; /*中央揃えしたい要素の親要素に指定*/
}

.about .container {
  max-width: 870px;
}

.what-top, .what-bottom{
  background-color:green;   /* あとで消す */

  display: flex;              /* フレックスボックス */
  justify-content: center;    /* 左右中心に配置 */
  align-items: center;        /* 上下中心に配置 */
  margin: 0 auto;
  position: absolute;
  top: 40px;


  /* ---------鍵かっこ用開始 about-top・abot-bottom兼用---------*/
  position:relative;
}
.what-top::before, .what-top::after, .what-bottom::before, .what-bottom::after {   /* 擬似要素beforeとafter */
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
}

.what-top::before, .what-bottom::before {                     /* 擬似要素before */
  border-left: solid 4px #ebb94d;
  border-top: solid 4px #ebb94d;
  top:0;
  left:0;
}

.what-top::after, .what-bottom::after {                       /* 擬似要素after */
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
  bottom: 0;
  right: 0;
}
/* ---------鍵かっこ用終了 ---------*/



/* about-top文章 */
.sentences, .small-sentences {
  margin-top:83px;
}

.earning-power {
  font-weight:bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);    /* 下線 */
}

/* 大きいPC向けレイアウト */
@media screen and (min-width:1190px){

  .what-top{
    height:100px;
  }

  /* about-top, about-bottom共通 */
  .what {
    font-size: 28px;
    letter-spacing: 0.1rem;
  }

  .about-sentence {
    font-size:20px;
    letter-spacing: 0.1em;
    margin-bottom:10px;
  }

  .small-sentences {
    display:none;
  }

}
/* PC向けレイアウト */
@media screen and (max-width:1190px){

  .what-top{
    height:100px;
  }

  /* about-top, about-bottom共通 */
  .what {
    font-size: 24px;
  }

  .about-sentence {
    font-size:16px;
    letter-spacing: 0.1em;
    margin-bottom:10px;
  }

  .small-sentences {
    display:none;
  }
}

/* タブレット向けレイアウト */
@media screen and (max-width:768px){
  .about-top {
    height: 656px !important;
  }

  .what-top{
    height:120px;
  }

  /* about-top, about-bottom共通 */
  .what {
    font-size: 20px;
  }

  .about-sentence {
    font-size:15px;
    margin-bottom:10px;
  }

  .about-top-p {
    display:block;
  }

  .sentences {
    display:none;
  }

  .small-sentences {
    display:block;
  }

}
/* スマートフォン向けレイアウト */
@media screen and (max-width:479px){
  .what-top{
    height:120px;
  }

  /* about-top, about-bottom共通 */
  .what {
    font-size: 20px;
  }

  /* about-top, about-bottom共通 */
  .what {
    font-size: 20px;
    margin-bottom:10px;
  }

  .about-top-p {
    display:block;
  }

  .sentences {
    display:none;
  }

  .small-sentences {
    display:block;
  }
}




/*----------------------------------------------------------*/
/* about-bottom */

.about-bottom {
  background-color:#fef5e0;
}

.what-bottom{
  flex-direction:column;        /* 1列で配置 */ 
  height:100px;
}

.under-what-bottom{
  margin:50px;
  background-color:orange;
  text-align:center;
}

.five-skills {
  display:flex;
  list-style-type:none;
  background-color: yellow;
  justify-content: center;    /* 左右中心に配置 */
  align-items: center;        /* 上下中心に配置 */
}



/* 色分け */
.skill {
  background-color:#CCCCCC;
}

.sales {
 background-color: #FFFFBB;
}

.document{
  background-color: #BBFFFF;
}

.plusone {
  background-color: #FFBBFF;
}

.connection {
 background-color: #CC0000;
}

/* 大きいPC向けレイアウト */
@media screen and (min-width:1190px){
  .about-bottom {
    height:646px;
  }

  .under-what-bottom{
    font-size: 20px;
  }
}

/* PC向けレイアウト */
@media screen and (max-width:1190px){
  .about-bottom {
    height:632px;
  }

  .under-what-bottom{
    font-size: 16px;
  }
}

/* タブレット向けレイアウト */
@media screen and (max-width:811px){
  .about-bottom {
    height:760px;
  }

  .under-what-bottom{
    font-size: 15px;
  }
}

/* スマートフォン向けレイアウト */
@media screen and (max-width:768px){
  .about-bottom {
    height:531px;
  }
}

@media screen and (max-width:479px){
  .about-bottom {
    height:711px;
  }
}